<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jckjkj.mybatis.dao.AuditopionMapper" >
  <resultMap id="BaseResultMap" type="com.jckjkj.mybatis.model.Auditopion" >
    <id column="aoid" property="aoid" jdbcType="INTEGER" />
    <result column="aoopinion" property="aoopinion" jdbcType="VARCHAR" />
    <result column="aodescription" property="aodescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    aoid, aoopinion, aodescription
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jckjkj.mybatis.model.AuditopionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_auditopinion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from x_auditopinion
    where aoid = #{aoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from x_auditopinion
    where aoid = #{aoid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jckjkj.mybatis.model.AuditopionExample" >
    delete from x_auditopinion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jckjkj.mybatis.model.Auditopion" >
    insert into x_auditopinion (aoid, aoopinion, aodescription
      )
    values (#{aoid,jdbcType=INTEGER}, #{aoopinion,jdbcType=VARCHAR}, #{aodescription,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jckjkj.mybatis.model.Auditopion" >
    insert into x_auditopinion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aoid != null" >
        aoid,
      </if>
      <if test="aoopinion != null" >
        aoopinion,
      </if>
      <if test="aodescription != null" >
        aodescription,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aoid != null" >
        #{aoid,jdbcType=INTEGER},
      </if>
      <if test="aoopinion != null" >
        #{aoopinion,jdbcType=VARCHAR},
      </if>
      <if test="aodescription != null" >
        #{aodescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jckjkj.mybatis.model.AuditopionExample" resultType="java.lang.Integer" >
    select count(*) from x_auditopinion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update x_auditopinion
    <set >
      <if test="record.aoid != null" >
        aoid = #{record.aoid,jdbcType=INTEGER},
      </if>
      <if test="record.aoopinion != null" >
        aoopinion = #{record.aoopinion,jdbcType=VARCHAR},
      </if>
      <if test="record.aodescription != null" >
        aodescription = #{record.aodescription,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update x_auditopinion
    set aoid = #{record.aoid,jdbcType=INTEGER},
      aoopinion = #{record.aoopinion,jdbcType=VARCHAR},
      aodescription = #{record.aodescription,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jckjkj.mybatis.model.Auditopion" >
    update x_auditopinion
    <set >
      <if test="aoopinion != null" >
        aoopinion = #{aoopinion,jdbcType=VARCHAR},
      </if>
      <if test="aodescription != null" >
        aodescription = #{aodescription,jdbcType=VARCHAR},
      </if>
    </set>
    where aoid = #{aoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jckjkj.mybatis.model.Auditopion" >
    update x_auditopinion
    set aoopinion = #{aoopinion,jdbcType=VARCHAR},
      aodescription = #{aodescription,jdbcType=VARCHAR}
    where aoid = #{aoid,jdbcType=INTEGER}
  </update>
</mapper>