<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jckjkj.mybatis.dao.FaultGradeModelMapper" >
  <resultMap id="BaseResultMap" type="com.jckjkj.mybatis.model.FaultGradeModel" >
    <id column="fgid" property="fgid" jdbcType="INTEGER" />
    <result column="faultgd" property="faultgd" jdbcType="VARCHAR" />
    <result column="timelimit" property="timelimit" jdbcType="INTEGER" />
    <result column="fgdescribe" property="fgdescribe" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fgid, faultgd, timelimit, fgdescribe
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jckjkj.mybatis.model.FaultGradeModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_faultgrade
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from x_faultgrade
    where fgid = #{fgid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from x_faultgrade
    where fgid = #{fgid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jckjkj.mybatis.model.FaultGradeModelExample" >
    delete from x_faultgrade
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jckjkj.mybatis.model.FaultGradeModel" >
    insert into x_faultgrade (fgid, faultgd, timelimit, 
      fgdescribe)
    values (#{fgid,jdbcType=INTEGER}, #{faultgd,jdbcType=VARCHAR}, #{timelimit,jdbcType=INTEGER}, 
      #{fgdescribe,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jckjkj.mybatis.model.FaultGradeModel" >
    insert into x_faultgrade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fgid != null" >
        fgid,
      </if>
      <if test="faultgd != null" >
        faultgd,
      </if>
      <if test="timelimit != null" >
        timelimit,
      </if>
      <if test="fgdescribe != null" >
        fgdescribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fgid != null" >
        #{fgid,jdbcType=INTEGER},
      </if>
      <if test="faultgd != null" >
        #{faultgd,jdbcType=VARCHAR},
      </if>
      <if test="timelimit != null" >
        #{timelimit,jdbcType=INTEGER},
      </if>
      <if test="fgdescribe != null" >
        #{fgdescribe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jckjkj.mybatis.model.FaultGradeModelExample" resultType="java.lang.Integer" >
    select count(*) from x_faultgrade
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update x_faultgrade
    <set >
      <if test="record.fgid != null" >
        fgid = #{record.fgid,jdbcType=INTEGER},
      </if>
      <if test="record.faultgd != null" >
        faultgd = #{record.faultgd,jdbcType=VARCHAR},
      </if>
      <if test="record.timelimit != null" >
        timelimit = #{record.timelimit,jdbcType=INTEGER},
      </if>
      <if test="record.fgdescribe != null" >
        fgdescribe = #{record.fgdescribe,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update x_faultgrade
    set fgid = #{record.fgid,jdbcType=INTEGER},
      faultgd = #{record.faultgd,jdbcType=VARCHAR},
      timelimit = #{record.timelimit,jdbcType=INTEGER},
      fgdescribe = #{record.fgdescribe,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jckjkj.mybatis.model.FaultGradeModel" >
    update x_faultgrade
    <set >
      <if test="faultgd != null" >
        faultgd = #{faultgd,jdbcType=VARCHAR},
      </if>
      <if test="timelimit != null" >
        timelimit = #{timelimit,jdbcType=INTEGER},
      </if>
      <if test="fgdescribe != null" >
        fgdescribe = #{fgdescribe,jdbcType=VARCHAR},
      </if>
    </set>
    where fgid = #{fgid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jckjkj.mybatis.model.FaultGradeModel" >
    update x_faultgrade
    set faultgd = #{faultgd,jdbcType=VARCHAR},
      timelimit = #{timelimit,jdbcType=INTEGER},
      fgdescribe = #{fgdescribe,jdbcType=VARCHAR}
    where fgid = #{fgid,jdbcType=INTEGER}
  </update>
</mapper>