<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jckjkj.mybatis.dao.OrderStateModelMapper" >
  <resultMap id="BaseResultMap" type="com.jckjkj.mybatis.model.OrderStateModel" >
    <id column="osid" property="osid" jdbcType="INTEGER" />
    <result column="osvalue" property="osvalue" jdbcType="VARCHAR" />
    <result column="osdescription" property="osdescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    osid, osvalue, osdescription
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jckjkj.mybatis.model.OrderStateModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_orderstate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from x_orderstate
    where osid = #{osid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from x_orderstate
    where osid = #{osid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jckjkj.mybatis.model.OrderStateModelExample" >
    delete from x_orderstate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jckjkj.mybatis.model.OrderStateModel" >
    insert into x_orderstate (osid, osvalue, osdescription
      )
    values (#{osid,jdbcType=INTEGER}, #{osvalue,jdbcType=VARCHAR}, #{osdescription,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jckjkj.mybatis.model.OrderStateModel" >
    insert into x_orderstate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="osid != null" >
        osid,
      </if>
      <if test="osvalue != null" >
        osvalue,
      </if>
      <if test="osdescription != null" >
        osdescription,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="osid != null" >
        #{osid,jdbcType=INTEGER},
      </if>
      <if test="osvalue != null" >
        #{osvalue,jdbcType=VARCHAR},
      </if>
      <if test="osdescription != null" >
        #{osdescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jckjkj.mybatis.model.OrderStateModelExample" resultType="java.lang.Integer" >
    select count(*) from x_orderstate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update x_orderstate
    <set >
      <if test="record.osid != null" >
        osid = #{record.osid,jdbcType=INTEGER},
      </if>
      <if test="record.osvalue != null" >
        osvalue = #{record.osvalue,jdbcType=VARCHAR},
      </if>
      <if test="record.osdescription != null" >
        osdescription = #{record.osdescription,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update x_orderstate
    set osid = #{record.osid,jdbcType=INTEGER},
      osvalue = #{record.osvalue,jdbcType=VARCHAR},
      osdescription = #{record.osdescription,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jckjkj.mybatis.model.OrderStateModel" >
    update x_orderstate
    <set >
      <if test="osvalue != null" >
        osvalue = #{osvalue,jdbcType=VARCHAR},
      </if>
      <if test="osdescription != null" >
        osdescription = #{osdescription,jdbcType=VARCHAR},
      </if>
    </set>
    where osid = #{osid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jckjkj.mybatis.model.OrderStateModel" >
    update x_orderstate
    set osvalue = #{osvalue,jdbcType=VARCHAR},
      osdescription = #{osdescription,jdbcType=VARCHAR}
    where osid = #{osid,jdbcType=INTEGER}
  </update>
</mapper>