<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jckjkj.mybatis.dao.OrderAuditMapper" >
  <resultMap id="BaseResultMap" type="com.jckjkj.mybatis.model.OrderAudit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="faultid" property="faultid" jdbcType="VARCHAR" />
    <result column="aoopinion" property="aoopinion" jdbcType="VARCHAR" />
    <result column="aodate" property="aodate" jdbcType="TIMESTAMP" />
    <result column="completedate" property="completedate" jdbcType="TIMESTAMP" />
    <result column="repairresult" property="repairresult" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, faultid, aoopinion, aodate, completedate, repairresult
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jckjkj.mybatis.model.OrderAuditExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_orderaudit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from x_orderaudit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from x_orderaudit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jckjkj.mybatis.model.OrderAuditExample" >
    delete from x_orderaudit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jckjkj.mybatis.model.OrderAudit" >
    insert into x_orderaudit (id, faultid, aoopinion, 
      aodate, completedate, repairresult
      )
    values (#{id,jdbcType=INTEGER}, #{faultid,jdbcType=VARCHAR}, #{aoopinion,jdbcType=VARCHAR}, 
      #{aodate,jdbcType=TIMESTAMP}, #{completedate,jdbcType=TIMESTAMP}, #{repairresult,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jckjkj.mybatis.model.OrderAudit" >
    insert into x_orderaudit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="faultid != null" >
        faultid,
      </if>
      <if test="aoopinion != null" >
        aoopinion,
      </if>
      <if test="aodate != null" >
        aodate,
      </if>
      <if test="completedate != null" >
        completedate,
      </if>
      <if test="repairresult != null" >
        repairresult,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="faultid != null" >
        #{faultid,jdbcType=VARCHAR},
      </if>
      <if test="aoopinion != null" >
        #{aoopinion,jdbcType=VARCHAR},
      </if>
      <if test="aodate != null" >
        #{aodate,jdbcType=TIMESTAMP},
      </if>
      <if test="completedate != null" >
        #{completedate,jdbcType=TIMESTAMP},
      </if>
      <if test="repairresult != null" >
        #{repairresult,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jckjkj.mybatis.model.OrderAuditExample" resultType="java.lang.Integer" >
    select count(*) from x_orderaudit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update x_orderaudit
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.faultid != null" >
        faultid = #{record.faultid,jdbcType=VARCHAR},
      </if>
      <if test="record.aoopinion != null" >
        aoopinion = #{record.aoopinion,jdbcType=VARCHAR},
      </if>
      <if test="record.aodate != null" >
        aodate = #{record.aodate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.completedate != null" >
        completedate = #{record.completedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.repairresult != null" >
        repairresult = #{record.repairresult,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update x_orderaudit
    set id = #{record.id,jdbcType=INTEGER},
      faultid = #{record.faultid,jdbcType=VARCHAR},
      aoopinion = #{record.aoopinion,jdbcType=VARCHAR},
      aodate = #{record.aodate,jdbcType=TIMESTAMP},
      completedate = #{record.completedate,jdbcType=TIMESTAMP},
      repairresult = #{record.repairresult,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jckjkj.mybatis.model.OrderAudit" >
    update x_orderaudit
    <set >
      <if test="faultid != null" >
        faultid = #{faultid,jdbcType=VARCHAR},
      </if>
      <if test="aoopinion != null" >
        aoopinion = #{aoopinion,jdbcType=VARCHAR},
      </if>
      <if test="aodate != null" >
        aodate = #{aodate,jdbcType=TIMESTAMP},
      </if>
      <if test="completedate != null" >
        completedate = #{completedate,jdbcType=TIMESTAMP},
      </if>
      <if test="repairresult != null" >
        repairresult = #{repairresult,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jckjkj.mybatis.model.OrderAudit" >
    update x_orderaudit
    set faultid = #{faultid,jdbcType=VARCHAR},
      aoopinion = #{aoopinion,jdbcType=VARCHAR},
      aodate = #{aodate,jdbcType=TIMESTAMP},
      completedate = #{completedate,jdbcType=TIMESTAMP},
      repairresult = #{repairresult,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>