<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jckjkj.mybatis.dao.PersionModelMapper" >
  <resultMap id="BaseResultMap" type="com.jckjkj.mybatis.model.PersionModel" >
    <id column="persionid" property="persionid" jdbcType="BIGINT" />
    <result column="pername" property="pername" jdbcType="VARCHAR" />
    <result column="dptid" property="dptid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    persionid, pername, dptid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jckjkj.mybatis.model.PersionModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_persion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from x_persion
    where persionid = #{persionid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from x_persion
    where persionid = #{persionid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jckjkj.mybatis.model.PersionModelExample" >
    delete from x_persion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jckjkj.mybatis.model.PersionModel" >
    insert into x_persion (persionid, pername, dptid
      )
    values (#{persionid,jdbcType=BIGINT}, #{pername,jdbcType=VARCHAR}, #{dptid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jckjkj.mybatis.model.PersionModel" >
    insert into x_persion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="persionid != null" >
        persionid,
      </if>
      <if test="pername != null" >
        pername,
      </if>
      <if test="dptid != null" >
        dptid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="persionid != null" >
        #{persionid,jdbcType=BIGINT},
      </if>
      <if test="pername != null" >
        #{pername,jdbcType=VARCHAR},
      </if>
      <if test="dptid != null" >
        #{dptid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jckjkj.mybatis.model.PersionModelExample" resultType="java.lang.Integer" >
    select count(*) from x_persion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update x_persion
    <set >
      <if test="record.persionid != null" >
        persionid = #{record.persionid,jdbcType=BIGINT},
      </if>
      <if test="record.pername != null" >
        pername = #{record.pername,jdbcType=VARCHAR},
      </if>
      <if test="record.dptid != null" >
        dptid = #{record.dptid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update x_persion
    set persionid = #{record.persionid,jdbcType=BIGINT},
      pername = #{record.pername,jdbcType=VARCHAR},
      dptid = #{record.dptid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jckjkj.mybatis.model.PersionModel" >
    update x_persion
    <set >
      <if test="pername != null" >
        pername = #{pername,jdbcType=VARCHAR},
      </if>
      <if test="dptid != null" >
        dptid = #{dptid,jdbcType=VARCHAR},
      </if>
    </set>
    where persionid = #{persionid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jckjkj.mybatis.model.PersionModel" >
    update x_persion
    set pername = #{pername,jdbcType=VARCHAR},
      dptid = #{dptid,jdbcType=VARCHAR}
    where persionid = #{persionid,jdbcType=BIGINT}
  </update>
</mapper>