<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jckjkj.mybatis.dao.RoutingInspectionMapper" >
  <resultMap id="BaseResultMap" type="com.jckjkj.mybatis.model.RoutingInspection" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="equid" property="equid" jdbcType="VARCHAR" />
    <result column="signintime" property="signintime" jdbcType="TIMESTAMP" />
    <result column="singinlongitude" property="singinlongitude" jdbcType="VARCHAR" />
    <result column="singinlatitude" property="singinlatitude" jdbcType="VARCHAR" />
    <result column="equstate" property="equstate" jdbcType="VARCHAR" />
    <result column="rouphoto" property="rouphoto" jdbcType="VARCHAR" />
    <result column="roudescription" property="roudescription" jdbcType="VARCHAR" />
    <result column="personid" property="personid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, equid, signintime, singinlongitude, singinlatitude, equstate, rouphoto, roudescription, 
    personid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jckjkj.mybatis.model.RoutingInspectionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from x_routinginspection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from x_routinginspection
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from x_routinginspection
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jckjkj.mybatis.model.RoutingInspectionExample" >
    delete from x_routinginspection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jckjkj.mybatis.model.RoutingInspection" >
    insert into x_routinginspection (id, equid, signintime, 
      singinlongitude, singinlatitude, equstate, 
      rouphoto, roudescription, personid
      )
    values (#{id,jdbcType=INTEGER}, #{equid,jdbcType=VARCHAR}, #{signintime,jdbcType=TIMESTAMP}, 
      #{singinlongitude,jdbcType=VARCHAR}, #{singinlatitude,jdbcType=VARCHAR}, #{equstate,jdbcType=VARCHAR}, 
      #{rouphoto,jdbcType=VARCHAR}, #{roudescription,jdbcType=VARCHAR}, #{personid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jckjkj.mybatis.model.RoutingInspection" >
    insert into x_routinginspection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="equid != null" >
        equid,
      </if>
      <if test="signintime != null" >
        signintime,
      </if>
      <if test="singinlongitude != null" >
        singinlongitude,
      </if>
      <if test="singinlatitude != null" >
        singinlatitude,
      </if>
      <if test="equstate != null" >
        equstate,
      </if>
      <if test="rouphoto != null" >
        rouphoto,
      </if>
      <if test="roudescription != null" >
        roudescription,
      </if>
      <if test="personid != null" >
        personid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="equid != null" >
        #{equid,jdbcType=VARCHAR},
      </if>
      <if test="signintime != null" >
        #{signintime,jdbcType=TIMESTAMP},
      </if>
      <if test="singinlongitude != null" >
        #{singinlongitude,jdbcType=VARCHAR},
      </if>
      <if test="singinlatitude != null" >
        #{singinlatitude,jdbcType=VARCHAR},
      </if>
      <if test="equstate != null" >
        #{equstate,jdbcType=VARCHAR},
      </if>
      <if test="rouphoto != null" >
        #{rouphoto,jdbcType=VARCHAR},
      </if>
      <if test="roudescription != null" >
        #{roudescription,jdbcType=VARCHAR},
      </if>
      <if test="personid != null" >
        #{personid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jckjkj.mybatis.model.RoutingInspectionExample" resultType="java.lang.Integer" >
    select count(*) from x_routinginspection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update x_routinginspection
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.equid != null" >
        equid = #{record.equid,jdbcType=VARCHAR},
      </if>
      <if test="record.signintime != null" >
        signintime = #{record.signintime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.singinlongitude != null" >
        singinlongitude = #{record.singinlongitude,jdbcType=VARCHAR},
      </if>
      <if test="record.singinlatitude != null" >
        singinlatitude = #{record.singinlatitude,jdbcType=VARCHAR},
      </if>
      <if test="record.equstate != null" >
        equstate = #{record.equstate,jdbcType=VARCHAR},
      </if>
      <if test="record.rouphoto != null" >
        rouphoto = #{record.rouphoto,jdbcType=VARCHAR},
      </if>
      <if test="record.roudescription != null" >
        roudescription = #{record.roudescription,jdbcType=VARCHAR},
      </if>
      <if test="record.personid != null" >
        personid = #{record.personid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update x_routinginspection
    set id = #{record.id,jdbcType=INTEGER},
      equid = #{record.equid,jdbcType=VARCHAR},
      signintime = #{record.signintime,jdbcType=TIMESTAMP},
      singinlongitude = #{record.singinlongitude,jdbcType=VARCHAR},
      singinlatitude = #{record.singinlatitude,jdbcType=VARCHAR},
      equstate = #{record.equstate,jdbcType=VARCHAR},
      rouphoto = #{record.rouphoto,jdbcType=VARCHAR},
      roudescription = #{record.roudescription,jdbcType=VARCHAR},
      personid = #{record.personid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jckjkj.mybatis.model.RoutingInspection" >
    update x_routinginspection
    <set >
      <if test="equid != null" >
        equid = #{equid,jdbcType=VARCHAR},
      </if>
      <if test="signintime != null" >
        signintime = #{signintime,jdbcType=TIMESTAMP},
      </if>
      <if test="singinlongitude != null" >
        singinlongitude = #{singinlongitude,jdbcType=VARCHAR},
      </if>
      <if test="singinlatitude != null" >
        singinlatitude = #{singinlatitude,jdbcType=VARCHAR},
      </if>
      <if test="equstate != null" >
        equstate = #{equstate,jdbcType=VARCHAR},
      </if>
      <if test="rouphoto != null" >
        rouphoto = #{rouphoto,jdbcType=VARCHAR},
      </if>
      <if test="roudescription != null" >
        roudescription = #{roudescription,jdbcType=VARCHAR},
      </if>
      <if test="personid != null" >
        personid = #{personid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jckjkj.mybatis.model.RoutingInspection" >
    update x_routinginspection
    set equid = #{equid,jdbcType=VARCHAR},
      signintime = #{signintime,jdbcType=TIMESTAMP},
      singinlongitude = #{singinlongitude,jdbcType=VARCHAR},
      singinlatitude = #{singinlatitude,jdbcType=VARCHAR},
      equstate = #{equstate,jdbcType=VARCHAR},
      rouphoto = #{rouphoto,jdbcType=VARCHAR},
      roudescription = #{roudescription,jdbcType=VARCHAR},
      personid = #{personid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>